certifi==2022.12.7
chardet==3.0.4
cheroot==6.5.5
CherryPy==18.1.2
html5lib==0.999999999
kafka-python==1.4.6
pylint==2.3.1
python-apt==1.6.3+ubuntu1
python-dateutil==2.7.2
python-debian==0.1.32
python-xapp==1.0.0
pytz==2018.4
pyxdg==0.25
PyYAML==3.12
pyzmq==17.0.0
redis==3.2.1
simplejson==3.13.2
websocket==0.2.1
websocket-client==0.56.0


